NEXT_PUBLIC_API_URL=https://skillswap-server-navy.vercel.app
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TkixOCqcUPy7OpnRfSdT0TKKYXdV8z1nQyeysg4fzfiqYT6w6a1bG0eBf9D0L0hHMIsuqZ7PLUhRlgmGc6ipbTg002HEXqvb4
NEXT_PUBLIC_SITE_URL=https://skillswap-client-seven.vercel.app
